<div class="row">
	<div class="col-md-6 offset-md-3 text-center">
		<% if current_user.present? %>
			<div class="card text-center">
				<div class="card-block">
					<h6 class="card-subtitle text-muted">Welcome How can we help you!</h6>
					<p class="card-text">
						some text here
					</p>
				</div>
			</div>
		<% end %>  	
	</div>
</div>