<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-block">
        <%= simple_form_for poll, url: (poll.persisted? ? poll_path : polls_path) do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
