<%= simple_form_for link, url: links_path do |f| %>
<div class="input-group input-group-lg form-group url required link_base_url">
  <input type="text" class="form-control string url required" type="url" value="" name="link[base_url]" id="link_base_url" placeholder="Enter url..." aria-label="Enter url...">
  <span class="input-group-btn">
    <button class="btn btn-success" type="button">Go!</button>
  </span>
</div>
<% end %>