<div id="short-link-wrapper">
  <div class="card">
    <div class="card-header">Short link</div>
    <div class="card-body">
      <p class="card-text"><%= root_url + link.short_url %></p>
      <a href="<%= root_url + link.short_url %>" class="btn btn-primary" target="_blank" >Try it!</a>
    </div>
    <div class="card-footer text-muted">
      <a href="" class="card-link new-url-form text-right">Create another link</a>
    </div>
  </div>
</div>